body {
  min-width: 1180px;
  font-family: Nanum Gothic;
}

header {
  height: 81px;

  position: relative;
  text-align: center;
}

header h1 {
  padding: 14px 0 0 0;
  position: absolute;
  top: 0;
  left: 50px;
}

header h1 a {
  display: block;
  width: 110px;
  height: 48px;
  color: transparent; /* 로고설명 투명 */
  background: url(images/sp_com.png) no-repeat -300px 0;
}

header .lnb {
  position: relative;
}
header .lnb ul {
}

header .lnb ul li {
  display: inline-block;
}

header .lnb ul li a {
  display: block;
  padding: 0 35px;
  font-size: 17px;
  color: #333;
  line-height: 81px;
}
header .lnb ul li span {
  position: relative;
}

header .lnb ul li a:hover {
  color: #2d5b79;
  font-weight: 600;
}
header .lnb ul li a:hover span:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2d5b79;
}

header .spot {
  position: absolute;
  top: 0;
  right: 50px;
}
header .spot ul {
}
header .spot li {
  float: left;
  position: relative; /* 구분선 때문에 */
}

header .spot li:after {
  /* 구분선 */
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  width: 1px;
  height: 7px;
  background: #ccc;
  transform: translateY(-50%);
}

header .spot li:first-child:after {
  display: none;
}
header .spot ul li a {
  display: block;
  padding: 0 13px;
  height: 81px; /* 넓게 클릭해주기 위해 */
  line-height: 81px;
}

header .spot ul li a:last-child {
  padding-right: 0;
  /* padding으로주면 위의 padding값이 사라짐 */
}

/* 배너영역 */

.visual {
  /* 전체영역 */
  padding: 0 50px;
  position: relative;
}

.visual .con > div {
  height: 690px;
}

.visual .con .slide {
  width: 100%;
  background: url(images/bg_main02.jpg) no-repeat center;
  color: #fff;
}

.visual .con .slide .icon,
.visual .con .slide .txt {
  position: absolute;
}

.visual .con .slide .icon {
  background: url(images/sp_com.png);
  background-position: 0 -261px;
  top: 261px;
  left: 695px;
  width: 124px;
  height: 96px;
  color: transparent;
}

.visual .con .slide .txt {
  top: 358px;
  left: 576px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 357px;
  margin: 24px 0 0 0;
  line-height: 100%;
}

.visual .con .slide .txt > p {
  display: inline-block;
  font-size: 27px;
  font-weight: 300;
  color: #fff;
}
.visual .con .slide .txt > span {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 0 8px;
}

/* 중간 제품정보 아이콘 영역 */

.product a {
  display: block;
  font-size: 16px;
}

.product a:hover {
  font-size: 16px;
  color: #2d5b79;
  font-weight: bold;
}
.product a:before {
  content: ""; /* 아이콘 넣으려면 */
  display: block; /* 아이콘 넣으려면 */
  width: 65px; /* 아이콘 넣으려면 */
  height: 51px; /* 아이콘 넣으려면 */
  background: url(images/sp_com.png) no-repeat;
  margin: 0 0 30px 0;
}

/* 제품정보 아이콘 */
.product ul {
  text-align: center; /* 전체 가운데정렬 */
  font-size: 0;
}

.product li {
  text-align: center;
  padding: 57px 55px 52px 55px;
  display: inline-block;
}
.product li:nth-child(1) a:before {
  background-position: -3px -118px;
}
.product li:nth-child(2) a:before {
  background-position: -72px -118px;
}
.product li:nth-child(3) a:before {
  background-position: -145px -118px;
}
.product li:nth-child(4) a:before {
  background-position: -221px -118px;
}
.product li:nth-child(5) a:before {
  background-position: -290px -118px;
}
.product li:nth-child(6) a:before {
  background-position: -360px -118px;
}

/* 아이콘 hover시 */
.product li:nth-child(1) a:hover:before {
  background-position: -3px -184px;
}
.product li:nth-child(2) a:hover:before {
  background-position: -72px -184px;
}
.product li:nth-child(3) a:hover:before {
  background-position: -145px -184px;
}
.product li:nth-child(4) a:hover:before {
  background-position: -221px -184px;
}
.product li:nth-child(5) a:hover:before {
  background-position: -290px -184px;
}
.product li:nth-child(6) a:hover:before {
  background-position: -360px -184px;
}

.magazine {
  position: relative; /* slide의 기준이 되게 */
  background: #dfd9d1;
  height: 670px;
  overflow: hidden;
}
.magazine h2 {
  padding: 50px 0 16px;
  font-size: 28px;
  color: #000;
  text-align: center;
  line-height: 100%;
}
.magazine p {
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.magazine .slide_box > div {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  width: 1180px;
  height: 430px;
}

.magazine .slide_box > div:nth-child(1) {
  margin-left: -1280px;
}
.magazine .slide_box > div:nth-child(3) {
  margin-left: 1280px;
}
.magazine .slide_box .left {
  overflow: hidden; /* 이미지 넘어가지 못하게 */
  position: relative;
  float: left;
  width: 800px;
  height: 430px;
}

.magazine .slide_box .left img {
  width: 100%; /* 이미지 비율 약간 맞추기 */
}
.magazine .slide_box .left div {
  /* 이미지위 글자영역 */
  position: absolute;
  top: 0;
  right: 0;
  padding: 47px 20px 0;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}

.magazine .slide_box .left div h3 {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 30px 0;
}

.magazine .slide_box .left div h4 {
  display: block;
  color: #fff;
  font-size: 22px;

  margin: 0 0 11px;
  line-height: 30px;
}

.magazine .slide_box .left div h4 > span {
  font-weight: normal;
  display: block;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 5px 0;
  color: #f1f1f0;
}

.magazine .slide_box .left div p {
  color: #f1f1f0;
  font-size: 17px;
  text-align: left;
  line-height: 24px;
}

.magazine .slide_box .left div a {
  display: block; /* a요소라서 block해야 width,height */
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.magazine .slide_box .right {
  float: right;
  width: 380px;
  height: 430px;
  background: #fff;
  padding: 20px 20px 0; /* 정렬이 돼있는걸 방지?? */
  box-sizing: border-box;
}

.magazine .slide_box .right li {
  padding: 0 0 20px;
}

.magazine .slide_box .right li a {
  display: table;
  width: 100%;
}

.magazine .slide_box .right li a div {
  display: table-cell;
  position: relative;
  padding: 0 0 0 100px; /* img를 위한 */
  font-size: 16px;
  color: #333;
  height: 82px;
  vertical-align: middle;
}

.magazine .slide_box .right li a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}

.magazine .slide_box .right li a strong {
  font-size: 13px;
  color: #000;
  display: block;
}

.magazine .slide .control {
  bottom: 48px;
}

.magazine.slide .prev {
  /* 화살표 위치 가운데로부터 조정 */
  left: 50%;
  margin: 26px 0 0 -640px;
  background-position: -320px -543px;
}
.magazine.slide .next {
  /* 창크기 조절해도 이상한데 가지않도록 */
  right: 50%;
  margin: 26px -640px 0 0;
  background-position: -348px -543px;
}

/* notice (bottom) */
.notice {
  background: url(images/opacity.jpg) no-repeat 30% top;
}

.notice > div {
  width: 1180px;
  margin: 0 auto;
  padding: 55px 0;
}

/* 대리점 찾기 */
.notice > .clear > .find a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 155px 0 0 0;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  transition: all 0.5s;
  line-height: 22px;
}
.notice > .clear > .find a:hover {
  background: rgba(45, 91, 121, 0.5);
}

.notice > .clear > .find {
  float: left;
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 20px 0 0;
  background: url(images/bg_key_link03.jpg) no-repeat;
}

.notice > .clear > .find a span {
  /* hover 전 */
  display: none;
  padding: 20px 0 0;
  font-weight: normal;
  font-size: 14px;
}
.notice > .clear > .find a:hover span {
  display: block;
  opacity: 1;
}
/*공지사항, 뉴스 */
.notice .board {
  float: left;
  width: 580px;
  height: 280px;
  margin: 0 20px 0 0;
}

.notice .board > div h2 {
  height: 67px;
  font-size: 24px;
  color: #2d5b79;
  text-align: center;
  line-height: 67px;
  border-bottom: 1px solid #fff;
}

.notice .board > div {
  position: relative;
}

.notice .board > div > a {
  position: absolute;
  top: 24px;
  right: 23px;
  width: 30px;
  height: 30px;
  background: url(images/sp_com.png) no-repeat -195px -61px #fff;
  border-radius: 30px;
  color: transparent;
}

.notice .board > .notices,
.notice .board > .news {
  width: 280px;
  height: 280px;
  background-color: #f2f0ed;
}

.notice .board > div > ul > li {
  height: 105px;
  padding: 15px 30px;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #fff;
}
.notice .board > div > ul > li:nth-child(2) {
  border: none;
}

.notice .board > div > ul > li > a {
  display: block;
  height: 100%;
  position: relative;
}

.notice .board > div > ul > li > a > p:first-child {
  display: block;
  color: #000;
  font-size: 14px;
}

.notice .board > div > ul > li > a > p:last-child {
  font-size: 13px;
  color: #979797;
  position: absolute;
  left: 0;
  bottom: 0;
}

.notice .board > .notices {
  float: left;
}

.notice .board > .news {
  float: right;
}

/* 검색창 */
.notice .search {
  float: left;
  width: 280px;
  height: 280px;
  padding: 22px 20px 0;
  background-color: #fff;
  box-sizing: border-box;
}

.notice .search > h2 {
  font-size: 24px;
  color: #2d5b79;
  text-align: center;
  line-height: 1;
  padding: 0 0 32px 0;
}
.notice .search > div select,
.notice .search > div input {
  display: block;
  width: 100%;
  height: 42px;
  border: none;
  background-color: #f2f0ed;
  font-size: 14px;
  text-indent: 17px;
}

.notice .search > div input::-webkit-input-placeholder {
  color: #949394;
  font-size: 14px;
}

.notice .search > div a {
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #2d5b79;
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 0;
}
.notice .search > div div {
  padding: 0 0 10px 0;
}

/* slide */

.slide .prev,
.slide .next {
  z-index: 10;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 밑으로 내림 */
  background: url(images/sp_com.png) no-repeat;
  width: 28px;
  height: 47px;
  color: transparent;
}
.slide .prev {
  left: 82px;
  background-position: -128px -60px;
}

.slide .next {
  right: 82px;
  background-position: -158px -60px;
}
.slide .control {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.slide .control ul {
  font-size: 0; /* 의문의 여백 사라지게 */
  display: inline-block; /* 인라인블럭해줘야 일자로 됨 */
  position: relative; /* 위로 이동시키기위해 relative를 줬다. */
  top: -7px;
}

.slide .control li {
  padding: 0 3px;
  display: inline-block; /* 인라인블럭해줘야 일자로 됨 */
}

.slide .control ul li a {
  display: block;
  width: 50px;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0;
}
.slide .control li.on a {
  background: #fff;
}

.slide .control > div {
  display: inline-block;
  position: relative;
  padding: 0 56px 0 0;
}

.slide .control > div > div {
  position: absolute;
  right: 0; /* 오른쪽 여백 0 */
}
.slide .control > div > div a {
  display: inline-block;
  background: url(images/sp_com.png) no-repeat;
  width: 10px;
  height: 10px;
  overflow: hidden; /* 가로세로 뚫고나가지 못하게 */
  color: transparent;
  margin: 0 0 0 7px;
  opacity: 0.5;
}
.slide .control > div > div a.on {
  opacity: 1;
}
.slide .control > div > div a.play {
  background-position: -106px -72px;
}

.slide .control > div > div a.pause {
  background-position: -106px -60px;
}

/* footer(top) */
footer .top {
  background: #383f43;
}
footer .top > div {
  width: 1180px;
  margin: 0 auto;
  padding: 13px 0;
}
footer .top > div ul {
  float: left;
}
footer .top > div ul li {
  float: left;
  padding: 0 19px 0 0;
  position: relative;
}

footer .top > div ul li:after {
  content: "";
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background: #70767a;
}

footer .top > div ul li a {
  color: #fff;
  font-size: 13px;
  line-height: 45px;
}

footer .top > div ul li:last-child:after {
  display: none;
}

footer .top > div div {
  float: right;
}

footer .top > div div p {
  display: inline-block;
  color: #fff;
  background-color: #2a3033;
  width: 300px;
  height: 47px;
  padding: 8px 0 5px 0;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
}

footer .top > div div p:after {
  display: block;
  font-size: 11px;
  font-weight: normal;
  content: "※제품구매문의는 대리점찾기에서 가까운 매장을 검색해 주세요";
  position: absolute;
  bottom: 7px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}

footer .top > div div select {
  width: 200px;
  height: 47px;
  padding: 0 0 0 21px;
  font-size: 12px;
}

/* footer(btm) */
footer .btm {
  height: 210px;
  background-color: #4c5459;
  position: relative;
}

footer .btm p:first-child {
  display: inline-block;
  background: url(images/sp_com.png) no-repeat -150px 0;
  width: 130px;
  height: 50px;
  color: transparent;
  position: absolute;
  top: 40px;
  left: 168px;
}

footer .btm p:not(.logo) {
  color: white;
  position: absolute;
  font-size: 13px;
}
footer .btm p:nth-child(2) {
  bottom: 73px;
  left: 168px;
}

footer .btm p:nth-child(3) {
  bottom: 45px;
  left: 168px;
}

footer .btm p > span:after {
  content: "";
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background: #70767a;
}

footer .btm .sns {
  position: absolute;
  top: 90px;
  right: 160px;
  height: 45px;
}

footer .btm .sns a {
  display: inline-block;
  background: url(images/sp_com.png) no-repeat;
  width: 45px;
  height: 45px;
  font-size: 6px;
  color: transparent;
  background-color: #383f43;
  margin: 0 13px 0 0;
  box-sizing: border-box;
}

footer .btm .sns .blog {
  background-position: -319px -605px;
}

footer .btm .sns .instagram {
  background-position: -366px -605px;
}

footer .btm .sns .youtube {
  background-position: -413px -605px;
}
